# S13 T02: Base de dades MySQL

## Descripció

Crear base de dades amb MySQL.
# Nivell 1
## - Exercici 1

Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="usuario",
  passwd="contraseña",
  database="bbdd"
)

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE clientes (nombre VARCHAR(255), direccion VARCHAR(255))")
mycursor.execute("CREATE TABLE clientes (nombre VARCHAR(255), direccion VARCHAR(255))")

# Nivell 2

## - Exercici 2

Mostra que pots carregar algunes consultes senzilles a un Pandas Dataframe.


# Nivell 3
## - Exercici 3

Genera algun gràfic que resumeixi les dades.